h1 {
  text-align: center;
}

.cell {
  width: 100px;
  height: 100px;
  border: 3px solid black;
  transition: all 0.3s ease-out;
}

.cell-text {
  text-align: center;
  font-size: 4em;
}

.cell:hover {
  cursor: pointer;
}

div .cell:nth-of-type(1),
div .cell:nth-of-type(2),
div .cell:nth-of-type(3) {
  border-top: none;
}

div .cell:nth-of-type(1) {
  border-left: none;
}

div .cell:nth-of-type(2) {
  border-left: none;
  border-right: none;
}

div .cell:nth-of-type(3) {
  border-right: none;
}

.container div:nth-of-type(4) .cell {
  border-bottom: none;
}

.col p {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

.overlay {
  position: fixed;
  display: none;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 2em;
  background-color: white;
}

p#turn-display {
  padding: 1em;
  width: 100%;
  width: 100vw;
}

#modes {
  display: flex;
}

#modes .row {
  margin: 0;
  width: 100%;
}

#display-text .row .col-sm-12 {
  padding: 0;
}

#display-text .row {
  margin-left: 0;
}

#action-btns .col {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  #game-board {
    max-width: 60%;
  }
}
